{{!-- {{link-to "Secret codez here" 'secret'}} --}}

<div class="layout-column layout-align-center-center">
  
  <h3>Entre ou cadastre-se:</h3>

  <img {{action 'authenticate'}} src="assets/btn_google_signin_dark_focus_web.png" style="cursor: pointer;" height="46" width="191">

</div>