$primary: 'teal';
$warn: 'red';

@import 'ember-paper';

html {
  font-size: 62.5%;
  line-height: 1.4;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}


h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h1 {
  font-size: 3.400rem;
  font-weight: 400;
  line-height: 4rem;
}

h2 {
  font-size: 2.400rem;
  font-weight: 400;
  line-height: 3.2rem;
}

h3 {
  font-size: 2.000rem;
  font-weight: 500;
  letter-spacing: 0.005em;
}

h4 {
  font-size: 1.600rem;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 2.4rem;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 1.6em;
  margin: 0.8em 0 1.6em;
}

strong {
  font-weight: 500;
}

.site-content-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.container {
  margin-top: 70px;
  padding: 30px;
}

.wishlist-container {
  display: flex;
  flex-direction: column;
  .wishlist-item {
    display: flex;
    padding: 10px;
    max-height: 200px;
    min-height: 200px;
    .book-block {
      width: 15%;
    }
    .book-description {
      flex: 1;
      max-width: 300px;
      padding-right: 20px;
    }
    .book-image {
      img {
        margin: 0 auto;
        display: block;
        height: 100%;
      }
    }
    .btn-book-action {
      border: 1px solid;
    }
  }
}

.cart {
  margin-top: -60px;
  .btn-checkout {
    float: right;
    border: 0;
    margin: 10px 0 80px 0;
    padding: 6px 25px;
    background-color: #6b6 !important;
    color: #fff;
    font-size: 18px;
    border-radius: 3px;
  }
  .totals {
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
    text-align: right;
    margin-top: 20px;
    padding: 6px 25px;
  }
}

.cart-item {
  border-bottom: 1px solid gainsboro;
  display: flex;
  padding: 10px;
  max-height: 130px;
  min-height: 130px;
  &:first-child {
    min-height: 0;
  }
  h3 {
    color: #aaa;
    font-weight: 400;
  }
  .book-description {
    flex: 1;
  }
  .book-image {
    img {
      margin: 0 auto;
      display: block;
      height: 100%;
    }
  }
  .book-block {
    width: 15%;
  }
  .btn-book-action {
    border: 1px solid;
  }
  .md-button.md-default-theme:not([disabled]):hover, .md-button:not([disabled]):hover,
  .btn-book-action:hover {
    background-color: #f78787;
    color: white;
  }

  
}

.paper-right {
  margin-left: auto;
  .btn-shopping-cart {
    position: relative;
    margin-right: 50px;
    &::before {
      font-size: 14px;
      font-weight: 500;
      color: teal;
      content: attr(data-badge);
      position: absolute;
      top: -10px;
      right: 30px;
      background-color: #ffffff;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.book-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  .book-description {
    border-top: 1px solid gainsboro;
    padding: 20px;
  }
  .book-details {
    display: flex;
    margin-bottom: 50px;

    .book-image {
      width: 400px;
      max-height: 300px;
      box-sizing: border-box;
      flex-shrink: 0;
      text-align: center;
      .book-img {
        display: inline-block;
        width: 100%; 
        max-width: 200px;  
        max-height: 300px;
      }
    }

    .book-info {
      display: flex;
      flex-direction: column;
      .toggle-wish-book {
        margin-top: auto;
        margin-left: 0;
        border: 1px solid;
      }
    }
  }
}

.loading-container, .checkout-success-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.checkout-success-container {
  flex-direction: column;
  .checkout-success-order {
    display: flex;
  }
}


.card-book {
  margin: 10px;
  border: 1px solid lightgray;
  flex: 1;
  max-width: calc(20% - 20px);

  md-card {
    width: 100%;
    padding: 10px;
    align-items: center;
    margin: 0;

    img {
      width: auto;
      height: 100%;
      max-height: 200px;
      min-height: 200px;
    }

    md-card-title { 
      width: 100%;
      box-sizing: border-box;
      display: block;
      
      md-card-title-text {

        span {
          text-align: center;
          white-space: nowrap;
          width: 100%;
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 20px;
        }
      }
    }
  }
}

