<div class="checkout-success-container">

<h3>Resumo da compra</h3>

<div class="checkout-success-order">
<p>Número do pedido:&nbsp;</p><h2>353225270</h2>
</div>


<p>
  O prazo de entrega do seu pedido 
  será informado no e-mail de confirmação de pagamento.
</p>

</div>