
{{#paper-toolbar class="site-content-toolbar"}}
  <div class="md-toolbar-tools">
    <div class="logo">
      <i class="material-icons">book</i>&nbsp;&nbsp;
    </div>
    <strong>L&M Livraria</strong>
    {{#link-to 'application'}}{{#paper-button}}Home{{/paper-button}}{{/link-to}}
    {{#link-to 'books'}}{{#paper-button}}Livros{{/paper-button}}{{/link-to}}
    {{#link-to 'wishlist'}}{{#paper-button}}Wish List{{/paper-button}}{{/link-to}}

    <div class="paper-right">
      {{paper-icon 'person'}}
      {{#if authManager.isAuthenticated}}
        {{#paper-button onClick=(action 'logout') }}Sair{{/paper-button}}
      {{else}}
        {{#link-to 'login'}}{{#paper-button }}Login{{/paper-button}}{{/link-to}}
      {{/if}}
    </div>
  </div>
{{/paper-toolbar}}
<div class="container">  
 {{outlet}}
</div>
